<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <!--
        Used to specify the default Sources for list, install and update.
        See: nuget.exe help list
        See: nuget.exe help install
        See: nuget.exe help update
    -->
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="CommunityToolkit-MainLatest" value="https://pkgs.dev.azure.com/dotnet/CommunityToolkit/_packaging/CommunityToolkit-MainLatest/nuget/v3/index.json" />
        <add key="CommunityToolkit-Labs" value="https://pkgs.dev.azure.com/dotnet/CommunityToolkit/_packaging/CommunityToolkit-Labs/nuget/v3/index.json" />
        <add key="CommunityToolkit-PullRequests" value="https://pkgs.dev.azure.com/dotnet/CommunityToolkit/_packaging/CommunityToolkit-PullRequests/nuget/v3/index.json" />
    </packageSources>
    <!-- Define mappings by adding package patterns beneath the target source. -->
    <packageSourceMapping>
        <!-- key value for <packageSource> should match key values from <packageSources> element -->
        <!-- key value for <packageSource> should match key values from <packageSources> element -->
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="CommunityToolkit-MainLatest">
            <package pattern="CommunityToolkit.*" />
        </packageSource>
    </packageSourceMapping>

    <!-- Used to disable package sources  -->
    <disabledPackageSources />

    <config>
        <!--
            Used to specify default source for the push command.
            See: nuget.exe help push
        -->
        <add key="defaultPushSource" value="https://api.nuget.org/v3/index.json" />
    </config>

    <packageRestore>
        <!-- Allow NuGet to download missing packages -->
        <add key="enabled" value="True" />

        <!-- Automatically check for missing packages during build in Visual Studio -->
        <add key="automatic" value="True" />
    </packageRestore>

    <packageManagement>
        <!-- Format is PackageReference -->
        <add key="format" value="1" />

        <!-- Do not show a prompt to chose the package format -->
        <add key="disabled" value="False" />
    </packageManagement>
</configuration>
