<?xml version="1.0" encoding="utf-8"?>
<!-- TODO: put publish profiles in a shared project -->
<Project>
    <PropertyGroup>
        <PublishProtocol>FileSystem</PublishProtocol>
        <TargetFramework>net9.0-windows10.0.26100.0</TargetFramework>
        <Platform>x64</Platform>
        <RuntimeIdentifier>win-x64</RuntimeIdentifier>

        <SelfContained>true</SelfContained>
        <PublishSingleFile>false</PublishSingleFile>
        <PublishReadyToRun Condition="'$(Configuration)' == 'Debug'">false</PublishReadyToRun>
        <PublishReadyToRun Condition="'$(Configuration)' != 'Debug'">true</PublishReadyToRun>
        <PublishAot>false</PublishAot>
    </PropertyGroup>

    <!-- Set the publish directory relative to the repo root, co-located with where the build artifacts are -->
    <Target Name="SetRepoArtifactsPublishDir" BeforeTargets="GetPublishProperties;Publish">
        <PropertyGroup>
            <!-- compute repo root (same logic you already have) -->
            <RepoRoot>$([MSBuild]::GetDirectoryNameOfFileAbove('$(MSBuildProjectDirectory)', '.git'))</RepoRoot>
            <RepoRoot Condition="'$(RepoRoot)' == ''">$([MSBuild]::GetDirectoryNameOfFileAbove('$(MSBuildProjectDirectory)', '.gitignore'))</RepoRoot>
            <RepoRoot Condition="'$(RepoRoot)' == ''">$(MSBuildProjectDirectory)</RepoRoot>
            <RepoRoot>$([MSBuild]::EnsureTrailingSlash($(RepoRoot)))</RepoRoot>
            <ArtifactsPath>$(RepoRoot)artifacts</ArtifactsPath>

            <!-- ensure final expansion and trailing slash -->
            <PublishDir>$(ArtifactsPath)\publish\$(MSBuildProjectName)\</PublishDir>
        </PropertyGroup>
    </Target>
</Project>
