<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:genTemplate="http://schemas.microsoft.com/appx/developer/templatestudio"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap genTemplate">

    <Identity
      Name="EA273A82-629C-4EB3-A1DE-051991AC11AC"
      Publisher="CN=abdes"
      Version="1.0.0.0" />

    <mp:PhoneIdentity PhoneProductId="6ae02a4d-9755-4636-99da-6dd37fd677cb" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

    <Properties>
        <DisplayName>Routing Debugger</DisplayName>
        <PublisherDisplayName>abdes</PublisherDisplayName>
        <Logo>Assets\StoreLogo.png</Logo>
    </Properties>

    <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.22621.0" />
        <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.22621.0" />
    </Dependencies>

    <Resources>
        <Resource Language="x-generate"/>
    </Resources>

    <Applications>
        <Application Id="App"
          Executable="$targetnametoken$.exe"
          EntryPoint="$targetentrypoint$">
            <uap:VisualElements
              DisplayName="Routing Debugger"
              Description="ms-resource:AppDescription"
              BackgroundColor="transparent"
              Square150x150Logo="Assets\Square150x150Logo.png"
              Square44x44Logo="Assets\Square44x44Logo.png">
                <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
                <uap:SplashScreen Image="Assets\SplashScreen.png" />
            </uap:VisualElements>
            <Extensions>
                <desktop:Extension Category="windows.toastNotificationActivation">
                    <desktop:ToastNotificationActivation ToastActivatorCLSID="f2ef503b-62eb-4c39-83f4-46dff4bda24c" />
                </desktop:Extension>

                <com:Extension Category="windows.comServer">
                    <com:ComServer>
                        <com:ExeServer Executable="OxygenEditor.exe" Arguments="----AppNotificationActivated:" DisplayName="Toast activator">
                            <com:Class Id="f2ef503b-62eb-4c39-83f4-46dff4bda24c" DisplayName="Toast activator"/>
                        </com:ExeServer>
                    </com:ComServer>
                </com:Extension>
            </Extensions>
        </Application>
    </Applications>

    <Capabilities>
        <rescap:Capability Name="runFullTrust" />
        <rescap:Capability Name="broadFileSystemAccess" />
    </Capabilities>

    <genTemplate:Metadata>
        <genTemplate:Item Name="generator" Value="Template Studio"/>
        <genTemplate:Item Name="wizardVersion" Version="v5.4" />
        <genTemplate:Item Name="projectType" Value="MenuBar" />
        <genTemplate:Item Name="framework" Value="MVVMToolkit" />
        <genTemplate:Item Name="platform" Value="WinUI" />
        <genTemplate:Item Name="appmodel" Value="Desktop" />
    </genTemplate:Metadata>
</Package>
