name: Main Build

on:
    workflow_dispatch:
    pull_request:
        branches: ["master"]
    push:
        branches: ["master"]
        paths-ignore:
            - "/tooling/doc/*" # Don't run workflow when files are only in the /docs directory

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
    build:
        continue-on-error: ${{ matrix.experimental }}
        strategy:
          fail-fast: true
          matrix:
              configuration: [Debug]
              platform: [x64]
              experimental: [false]
              include:
                - configuration: Release
                  platform: x64
                  experimental: true

        runs-on:
            windows-latest # For a list of available runner types, refer to
            # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on

        env:
            Solution_Name: AllProjects.sln

        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  submodules: "recursive"

            - name: Install .Net
              uses: actions/setup-dotnet@v4
              with:
                  global-json-file: "global.json"
                  cache: 'nuget'

            - name: Setup MSBuild.exe
              uses: microsoft/setup-msbuild@v2

            - name: Cache dotnet tools
              uses: actions/cache@v4
              with:
                path: |
                  ~/.dotnet/tools
                key: ${{ runner.os }}-dotnet-tools-${{ hashFiles('**/global.json') }}
                restore-keys: |
                  ${{ runner.os }}-dotnet-tools-

            # Restore tools
            - name: Restore .Net tools
              run: |
                  ./init -NoPreCommitHooks
                  dotnet tool list

            - name: Generate solution file
              run: ./GenerateAllSolution

            - name: Restore NuGet packages
              shell: pwsh
              run: dotnet restore ./AllProjects.sln --disable-parallel

            - name: Build projects
              shell: pwsh
              run: msbuild .\AllProjects.sln -t:build -v:m -p:DN_PreCommitHooks=false -p:Platform=${{ matrix.platform }} -p:Configuration=${{ matrix.configuration }}

            - name: Execute Unit Tests
              run: dotnet test --no-build /p:Platform=${{ matrix.platform }} -c ${{ matrix.configuration }} --filter "TestCategory!=UITest"
